*~
*.[1-9]
*.[1-9][0-9]
*.[1-9]_*
*.[1-9][0-9]_*


/#mysqlpasswd#
Unfertig
background
backgroundimage
beep
bglafile
binsearchreplace
browser
bug
check-kernel-org
checkhostport
cls
collab_path_to_name_in
convertagenda
convertresize_small2agenda
cpan
cpnc
cpudrossler
dateparse.bck
dfm
dfmm
dirrotate
dpkgl-own
el-sql
el_articlecontentbystringid
el_articleid_by_stringid
el_checkin_by_stringid
el_checkout_by_stringid
el_checkoutshow_by_stringid
el_content_by_fileid_versionnumber
el_contentbystringid
el_dtdcheck
el_exportxmlcontents
el_exportxslcontents
el_fileid_by_stringid
el_listauthors
el_mysqlfree
el_sql
el_storearticlecontentbystringid
el_suspendlists_person_from_until
eliminate_doubles
elmurks_getdate
elmurks_newsletteraction
elmurks_rename
elmurks_setdate
em
eman
eq
exterm
fastlatencydetect
fcgikill
filterspam
find-unstable-versions
find_insec_extractor
find_insec_sdiff
find_insecure
gethttps
getrlimits
gnutellasperren
gnutellazulassen
i2u
innodbdoc
interface_ethfixnet
kil
killallkde
kontro-dtdcheck
kontro-fs2db
kontro-rapportdoc2xml
kontro-rapportdoc2xml.d
lF
latin1-map
linkchecker
locsll
loop
lsf
maildir-lifecms-extractorigemail
mailmover
mailmover_autoreply.pm
mailmover_new
mailmover_new_cj
mailmover_todo
mailmoverlib.pm
mailmoverlib_cj.pm
mailmoverlib_signatures.txt
makelinux_bzImage_modules
makelinux_dep_bzImage_modules
md
mod_ssldoc
modules
mouseemu
mp3blaster
mpg123
mzmanual
nEdit_abspalter
nc
ncmod
netscape1
ntpmanual
pawk
playwav
pushstream_multiplemp3s_wav
qpsmtpdlog-showgrey
rawpartitionburner
reco
rotate
sandboX
sc
sl
sleepdrive
sleepexec
sll
sltrash
snooze
ss
ssh_sensor
startdfm
startglobe
startuml
tcpdump_messagetool
tcpdumph
tcphexdump
tless
u2i
umounthdc
usepostgres
utf
utfxterm
watchclock
whichpackage
x-sms-sendpending
